<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/posts"><h1>识常</h1></a>
      <p><%= blog.description %></p>
      <div>
        <a href="/posts"><p>首页</p></a>
        <a href="/posts"><p>笔记</p></a>
        <a href="/questions"><p>问题</p></a>
      </div>

    </div>
  </div>
</div>
